/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*common style */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    margin: 0;
    padding: 0;
}

.header-part {
    position: absolute;
    width: 1330px;
    height: 630px;
    left: 270px;
    top: 40px;

    background: #161616;
    border-radius: 30px;
}

h1 {
    font-size: 60px;

}

.header-text {
    position: relative;
    color: #FFFFFF;
    left: 70px;

}

.header-part button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 25px;
    gap: 10px;
    position: absolute;
    font-size: 20px;
    color: #FFFFFF;
    background: #DD0000;
    border-radius: 5px;
    left: 0px;
}

.Banner img {
    position: absolute;
    width: 530px;
    height: 550px;
    left: 770px;
    top: 80px;
}

/* Sliders section */
.blackbg {
    position: absolute;
    width: 312px;
    height: 312px;
    left: 270px;
    top: 831px;

    background: #161616;
    border-radius: 10px;
}

.blackbox {
    position: absolute;
    width: 312px;
    height: 312px;
    left: 270px;
    top: 800px;
    background: #161616;
    border-radius: 10px;
}

.UM {
    position: absolute;
    width: 252px;
    height: 64px;
    left: 30px;
    top: 30px;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    color: #161616;


}

.UM>p {
    text-align: center;
}

.UM:hover {
    background-color: #DD0700;
    color: #FFFFFF;
}




.AG {
    position: absolute;
    width: 252px;
    height: 64px;
    left: 300px;
    top: 920px;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}

.AG:hover {
    background-color: #DD0700;
    color: #FFFFFF;
}

.Blog {
    position: absolute;
    width: 252px;
    height: 64px;
    left: 300px;
    top: 1020px;
    background: #DD0700;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
}

.Blog:hover {
    background-color: #FFFFFF;
    color: #161616;
}

/*column*/
.Box1 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 650px;
    top: 800px;
    border: 2px solid #FFFFFF;
}

.Box1 p {
    position: absolute;
    left: 20px;
    top: 211px;
}

.T-button {
    position: absolute;
    left: 20px;
    top: 190px;
}

.clock-icon {
    position: absolute;
    top: 280px;
    left: 2px;

}

.comments-icon {
    position: absolute;
    top: 280px;
    left: 90px;
}

.Box2 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 975px;
    top: 800px;
    border: 2px solid #FFFFFF;
}

.Box2 p {
    position: absolute;
    left: 20px;
    top: 211px;
}

.T-button {
    position: absolute;
    left: 20px;
    top: 190px;
}


.Box3 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 1315px;
    top: 800px;
    border: 2px solid #FFFFFF;

}

.Box3 p {
    position: absolute;
    left: 20px;
    top: 211px;
}

.T-button {
    position: absolute;
    left: 20px;
    top: 190px;
}

.Box4 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 650px;
    top: 1199px;
    border: 2px solid #FFFFFF;
}

.Box4 p {
    position: absolute;
    left: 20px;
    top: 211px;
}

.T-button {
    position: absolute;
    left: 20px;
    top: 190px;
}

.Box5 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 975px;
    top: 1199px;
    border: 2px solid #FFFFFF;
}

.Box5 p {
    position: absolute;
    left: 20px;
    top: 211px;
}

.T-button {
    position: absolute;
    left: 20px;
    top: 190px;
}

.Box6 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 1315px;
    top: 1199px;
    border: 2px solid #FFFFFF;

}

.Box6 p {
    position: absolute;
    left: 20px;
    top: 211px;
}

.T-button {
    position: absolute;
    left: 20px;
    top: 190px;
}

.Box7 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 650px;
    top: 1599px;
    border: 2px solid #FFFFFF;
}

.Box7 p {
    position: absolute;
    left: 20px;
    top: 211px;
}

.T-button {
    position: absolute;
    left: 20px;
    top: 190px;
}

.Box8 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 975px;
    top: 1599px;
    border: 2px solid #FFFFFF;
}

.Box8 p {
    position: absolute;
    left: 20px;
    top: 211px;
}

.T-button {
    position: absolute;
    left: 20px;
    top: 190px;
}

.Box9 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 1315px;
    top: 1599px;
    border: 2px solid #FFFFFF;

}

.Box9 p {
    position: absolute;
    left: 20px;
    top: 211px;
}

.T-button {
    position: absolute;
    left: 20px;
    top: 190px;
}

/*footer*/
.footer {
    position: absolute;
    width: 2000px;
    height: 444px;
    left: 00px;
    top: 2060px;

    background: #161616;


}

.text {
    position: absolute;
    width: 95px;
    height: 60px;
    left: 868px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;


    text-align: center;

    color: #FFFFFF;


}






.other-text {

    position: absolute;
    left: 21.94%;
    right: 21.94%;
    top: 185px;
    bottom: 5.13%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;


    font-feature-settings: 'liga' off;

    color: #B9B9B9;
}

/*card part*/

.sec1 {
    position: absolute;
    height: 362px;
    left: 650px;
    top: 800px;
}





.sec2 {
    position: absolute;
    height: 362px;
    left: 980px;
    top: 800px;

}




.sec3 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 1315px;
    top: 800px;

}



.sec4 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 650px;
    top: 1060px;

}



.sec5 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 978px;
    top: 1060px;

}



.sec6 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 1315px;
    top: 1060px;
}