/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*common style */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    margin: 0;
    padding: 0;
}

.header-part {
    position: absolute;
    width: 1330px;
    height: 630px;
    left: 270px;
    top: 40px;

    background: #161616;
    border-radius: 30px;
}

h1 {
    font-size: 60px;

}

.header-text {
    position: relative;
    color: #FFFFFF;
    left: 70px;

}

.header-part button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 25px;
    gap: 10px;
    position: absolute;
    font-size: 20px;
    color: #FFFFFF;
    background: #DD0000;
    border-radius: 5px;
    left: 0px;
}

.header-part button:hover {
    background-color: #FFFFFF;
    color: #161616;
}


.Banner img {
    position: absolute;
    width: 530px;
    height: 550px;
    left: 770px;
    top: 80px;
}

/* Sliders section */
.blackbg {
    position: absolute;
    width: 312px;
    height: 312px;
    left: 270px;
    top: 831px;

    background: #161616;
    border-radius: 10px;
}

.blackbox {
    position: absolute;
    width: 312px;
    height: 312px;
    left: 270px;
    top: 800px;
    background: #161616;
    border-radius: 10px;
}

.UM {
    position: absolute;
    width: 252px;
    height: 64px;
    left: 30px;
    top: 30px;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    color: #161616;


}

.UM>p {
    text-align: center;
}

.UM:hover {
    background-color: #DD0700;
    color: #FFFFFF;
}




.AG {
    position: absolute;
    width: 252px;
    height: 64px;
    left: 298px;
    top: 910px;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
}

.AG:hover {
    background-color: #DD0700;
    color: #FFFFFF;
}

.Blog {
    position: absolute;
    width: 252px;
    height: 64px;
    left: 298px;
    top: 997px;
    background: #DD0700;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
}

.Blog:hover {
    background-color: #FFFFFF;
    color: #161616;
}

/*column*/
.Box1 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 650px;
    top: 800px;
    border: 2px solid #FFFFFF;
}

.Box1 p {
    position: absolute;
    left: 20px;
    top: 211px;
}

.T-button {
    position: absolute;
    left: 20px;
    top: 190px;
}

.clock-icon {
    position: absolute;
    top: 280px;
    left: 2px;

}

.comments-icon {
    position: absolute;
    top: 280px;
    left: 90px;
}

.Box2 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 975px;
    top: 800px;
    border: 2px solid #FFFFFF;
}

.Box2 p {
    position: absolute;
    left: 20px;
    top: 211px;
}

.T-button {
    position: absolute;
    left: 20px;
    top: 190px;
}


.Box3 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 1315px;
    top: 800px;
    border: 2px solid #FFFFFF;

}

.Box3 p {
    position: absolute;
    left: 20px;
    top: 211px;
}

.T-button {
    position: absolute;
    left: 20px;
    top: 190px;
}

.Box4 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 650px;
    top: 1199px;
    border: 2px solid #FFFFFF;
}

.Box4 p {
    position: absolute;
    left: 20px;
    top: 211px;
}

.T-button {
    position: absolute;
    left: 20px;
    top: 190px;
}

.Box5 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 975px;
    top: 1199px;
    border: 2px solid #FFFFFF;
}

.Box5 p {
    position: absolute;
    left: 20px;
    top: 211px;
}

.T-button {
    position: absolute;
    left: 20px;
    top: 190px;
}

.Box6 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 1315px;
    top: 1199px;
    border: 2px solid #FFFFFF;

}

.Box6 p {
    position: absolute;
    left: 20px;
    top: 211px;
}

.T-button {
    position: absolute;
    left: 20px;
    top: 190px;
}

.Box7 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 650px;
    top: 1599px;
    border: 2px solid #FFFFFF;
}

.Box7 p {
    position: absolute;
    left: 20px;
    top: 211px;
}

.T-button {
    position: absolute;
    left: 20px;
    top: 190px;
}

.Box8 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 975px;
    top: 1599px;
    border: 2px solid #FFFFFF;
}

.Box8 p {
    position: absolute;
    left: 20px;
    top: 211px;
}

.T-button {
    position: absolute;
    left: 20px;
    top: 190px;
}

.Box9 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 1315px;
    top: 1599px;
    border: 2px solid #FFFFFF;

}

.Box9 p {
    position: absolute;
    left: 20px;
    top: 211px;
}

.T-button {
    position: absolute;
    left: 20px;
    top: 190px;
}








.other-text {

    position: absolute;
    left: 21.94%;
    right: 21.94%;
    top: 185px;
    bottom: 5.13%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;


    font-feature-settings: 'liga' off;

    color: #B9B9B9;
}

/*other part*/

.sec1 {
    position: absolute;
    height: 362px;
    left: 650px;
    top: 800px;
}





.sec2 {
    position: absolute;
    height: 362px;
    left: 980px;
    top: 800px;

}




.sec3 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 1315px;
    top: 800px;

}



.sec4 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 650px;
    top: 1060px;

}



.sec5 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 978px;
    top: 1060px;

}



.sec6 {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 1315px;
    top: 1060px;
}

/*footer*/
.footer {
    position: absolute;
    width: 2000px;
    height: 444px;
    left: 00px;
    top: 2060px;

    background: #161616;

}

.text {
    position: absolute;
    width: 95px;
    height: 60px;
    left: 970px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;


    text-align: center;

    color: #FFFFFF;
    top: 50px;

}





.socials,
.footer-menue {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 1rem 0 3rem 0;

    list-style: none;
    flex-wrap: wrap;




}

.socials li,
.footer-menue li {
    margin: 0 10px;
    top: 300px;
    list-style: none;
}

.socials li a,
.footer-menue li a {
    font-size: 2em;
    color: #B9B9B9;
    display: inline-block;
    transition: 0.5s;
}

.socials li a:hover {
    transform: translateY(-10px);
}

.socials li {
    position: relative;
    top: 270px;
}

.footer-menue li a {
    font-size: 1.2em;
    position: relative;
    margin: 0 10px;
    color: #B9B9B9;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;


    top: 300px
}

/* responsive css*/
/* Tab view */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header-part {
        width: 500px;
        left: 10px;
        height: 300px;
        top: 20px;
        margin-top: 10px;
        margin-left: 0px;
        padding: 30px;

    }

    h1 {
        width: 200px;
        height: 150px;
        left: 120px;
        top: 40px;
        font-size: 29px;

    }

    .header-text {
        font-size: 6px;
        left: 0px;
    }

    .header-part button {
        padding: 5px;
        margin-top: 10px;
        font-size: 12px;
    }

    .Banner img {
        width: 300px;
        height: 290px;
        left: 258px;
        top: 70px;

    }

    .blackbox {
        display: none;
    }





    .Box1 {
        width: 200px;
        height: 230px;
        left: 50px;
        top: 470px;
        border: 2px solid #FFFFFF;
        font-size: 10px;
        background-image: url(Image/Rectangle\ 3.png);
        background-size: 100%;
        background-repeat: no-repeat;


    }

    .Box1 p {
        top: 140px;
        left: 10px;
    }

    .Box1 img {
        display: none;
    }

    .T-button {
        left: auto;
        top: 110px;
        margin: 10px;
        font-size: 10px;
    }

    .clock-icon {
        top: 190px;

    }

    .comments-icon {
        top: 190px;
        left: 80px;
    }

    .Box2 {
        width: 200px;
        height: 230px;
        left: 290px;
        top: 470px;
        border: 2px solid #FFFFFF;
        font-size: 10px;
        background-image: url(Image/Rectangle\ 3.png);
        background-size: 100%;
        background-repeat: no-repeat;

    }

    .Box2 img {
        display: none;
    }

    .T-button {
        left: auto;
        top: 110px;
        margin: 10px;
        font-size: 10px;
    }

    .Box2 p {
        top: 140px;
        left: 10px;
    }

    .Box3 {
        width: 200px;
        height: 230px;
        left: 50px;
        top: 740px;
        border: 2px solid #FFFFFF;
        font-size: 10px;
        background-image: url(Image/Rectangle\ 3.png);
        background-size: 100%;
        background-repeat: no-repeat;

    }

    .Box3 img {
        display: none;
    }

    .Box3 p {
        top: 140px;
        left: 10px;
    }

    .Box4 {
        width: 200px;
        height: 230px;
        left: 290px;
        top: 740px;
        border: 2px solid #FFFFFF;
        font-size: 10px;
        background-image: url(Image/Rectangle\ 3.png);
        background-size: 100%;
        background-repeat: no-repeat;

    }

    .Box4 img {
        display: none;
    }

    .Box4 p {
        top: 140px;
        left: 10px;
    }

    .Box5 {
        width: 200px;
        height: 230px;
        left: 50px;
        top: 1020px;
        border: 2px solid #FFFFFF;
        font-size: 10px;
        background-image: url(Image/Rectangle\ 3.png);
        background-size: 100%;
        background-repeat: no-repeat;

    }

    .Box5 img {
        display: none;
    }

    .Box5 p {
        top: 140px;
        left: 10px;
    }

    .Box6 {
        width: 200px;
        height: 230px;
        left: 290px;
        top: 1020px;
        border: 2px solid #FFFFFF;
        font-size: 10px;
        background-image: url(Image/Rectangle\ 3.png);
        background-size: 100%;
        background-repeat: no-repeat;

    }

    .Box6 img {
        display: none;
    }

    .Box6 p {
        top: 140px;
        left: 10px;
    }

    .Box7 {
        width: 200px;
        height: 230px;
        left: 50px;
        top: 1290px;
        border: 2px solid #FFFFFF;
        font-size: 10px;
        background-image: url(Image/Rectangle\ 3.png);
        background-size: 100%;
        background-repeat: no-repeat;

    }

    .Box7 img {
        display: none;
    }

    .Box7 p {
        top: 140px;
        left: 10px;
    }

    .Box8 {
        width: 200px;
        height: 230px;
        left: 290px;
        top: 1290px;
        border: 2px solid #FFFFFF;
        font-size: 10px;
        background-image: url(Image/Rectangle\ 3.png);
        background-size: 100%;
        background-repeat: no-repeat;

    }

    .Box8 img {
        display: none;
    }

    .Box8 p {
        top: 140px;
        left: 10px;
    }

    .footer {
        width: 1000px;
        height: 400px;
        left: 0px;
        top: 1598px;


    }

    .text {
        width: 95px;
        height: 60px;
        left: 370px;
        top: 50px;
        text-align: center;

    }

    .socials,
    .footer-menue {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 1rem 0 3rem 0;

        list-style: none;
        flex-wrap: wrap;

    }

    .socials li,
    .footer-menue li {
        margin: 0 10px;
        top: 190px;
        list-style: none;
        right: 10%;
    }

    .socials li a,
    .footer-menue li a {
        font-size: 1em;
        color: #B9B9B9;
        display: inline-block;
        transition: 0.5s;

    }

    .socials li a:hover {
        transform: translateY(-10px);
    }

    .socials li {
        position: relative;
        top: 220px;
    }

    .footer-menue li a {
        font-size: 1em;
        position: relative;
        margin: 10px;
        color: #B9B9B9;
        display: inline-block;
        transition: 0.5s;
        text-decoration: none;


        top: 270px;
        left: 10px;
    }


}